body{
}

.bhavanaVideosResponsive{
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0; 
}

#causesTotalMinutes, #causesCause{
	font-weight: bold;
}

#bhavana_meditationInstrucctions{
	display: none;
}
