html{
    background: url('../img/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    background: rgba(170,225,206,0.1);
    margin: 0px;
    padding: 0px;
}

/* Bootstrap */
.emptyWell{
    background: rgba(183,213,224,0.9);
    min-height: 50px;
    border: 1px solid grey;
    padding: 0px;
    margin: 4px;
    box-shadow: 1px 1px 1px 0 rgba(133, 125, 133, 0.3);
}

.list-group-item-heading{
    color: rgba(0,74,137,1);
    color: rgba(51,85,114,1);
    font-weight: bold;
}

.list-group-item-text{
    color: rgba(51,85,114,1);
}

.collapseEmpty{
    background: rgba(255,255,255,0.1);
}

.panelBodyEmpty{
    background: rgba(255,255,255,0.2);
}

.panelEmpty{
    background: rgba(255,255,255,0);
}

a.onWell:hover, a.onWell:focus, a.onWell{
    color: #1a1a1a;
    text-decoration: none;
}

.page-header{
    margin: 10px 0 20px;
}

/* //bootstrap */

.container1{
    padding: 0px;
}


#Bhavana_selectTips{
    margin-bottom: 15px;
}

#causesTotalMinutes, #causesCause{
}

#bhavana_meditationInstructions_gone{
    display: none;
}

.list-group-item{
    font-size: 120%;
}

#bhavana_selectMeditationIntention{
    margin-bottom: 25px;
    //display: none;
}

#bhavana_waitingForVideo{
    display: none;
}

/* Checkin */
#checkInEmotions, #checkInSubmit{
    display: none;
}

.mindStatesBg1, .mindStatesBg3, .mindStatesBg3,.mindStatesBg4, .mindStatesBg5{
    color: white;
}
.mindStatesBg1{
    background-color: #E35542;
    border-color: #E35542;
}
.mindStatesBg2{
    background-color: #E09990;
    border-color: #E09990;
}
.mindStatesBg3{
    color: black;
    background-color: #E8E089;
    border-color: #E8E089;
}
.mindStatesBg4{
    background-color: #87CC99;
    border-color: #87CC99;
}
.mindStatesBg5{
    background-color: #5BB372;
    border-color: #5BB372;
}

.emotionsBgNeg{
    background-color: #E35542;
    color: white;
}
.emotionsBgPos{
    background-color: #5BB372;
    color: white;
}

/* Front page menus */
.menuFirstCol{
    width: 7%;
}

.menuSecondCol{
    padding: 6px
}

.sectionsTitles{
    background: rgba(0,0,0,0.1);
    padding: 5px 5px 5px 5px;
    border: 0px;
    margin-bottom: 2px;
}

.sectionsDivider{
    border-bottom: 1px solid rgba(27,27,27,0.3);
    margin: 10px 0 20px;
    padding-bottom: 9px;
}

/* Reminders */
#bhavana_remindersRandomCreate, #bhavana_remindersDailyCreate{
    padding: 5px;
}

#bhavana_forToday{
    text-align: center;
    font-size: 1.3em;
}

/* For today */
#bhavana_forTodayTop{
    background: #fff;
    padding: 10px;
}


/**
 * Square Menus
 * http://bootsnipp.com/snippets/peOzg
 */
    .btn-sq-lg {
        width: 150px !important;
        height: 150px !important;
    }

    .btn-sq {
        width: 100px !important;
        height: 100px !important;
        font-size: 10px;
    }

    .btn-sq-sm {
        width: 50px !important;
        height: 50px !important;
        font-size: 10px;
    }

    .btn-sq-xs {
        width: 25px !important;
        height: 25px !important;
        padding:2px;
    }

/* Rounded buttons */
.btn-round-lg{
    border-radius: 22.5px;
}
.btn-round{
    border-radius: 17px;
    }
    .btn-round-sm{
    border-radius: 15px;
}
.btn-round-xs{
    border-radius: 11px;
    padding-left: 10px;
    padding-right: 10px;
}

    /* Tabs */
    /* http://bootsnipp.com/snippets/featured/bootstrap-line-tabs-by-keenthemes */
    /***
     * Bootstrap Line Tabs by @keenthemes
     * A component of Metronic Theme - #1 Selling Bootstrap 3 Admin Theme in Themeforest: http://j.mp/metronictheme
     * Licensed under MIT
     * ***/

    /* Tabs panel */
    .tabbable-panel {
        border:1px solid #eee;
        padding: 10px;
    }

    /* Default mode */
    .tabbable-line > .nav-tabs {
        border: none;
        margin: 0px;
    }
    .tabbable-line > .nav-tabs > li {
        margin-right: 2px;
    }
    .tabbable-line > .nav-tabs > li > a {
        border: 0;
        margin-right: 0;
        color: #737373;
    }
    .tabbable-line > .nav-tabs > li > a > i {
        color: #a6a6a6;
    }
    .tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
        border-bottom: 4px solid #fbcdcf;
    }
    .tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
        border: 0;
        background: none !important;
        color: #333333;
    }
    .tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
        color: #a6a6a6;
    }
    .tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
        margin-top: 0px;
    }
    .tabbable-line > .nav-tabs > li.active {
        border-bottom: 4px solid #f3565d;
        position: relative;
    }
    .tabbable-line > .nav-tabs > li.active > a {
        border: 0;
        color: #333333;
    }
    .tabbable-line > .nav-tabs > li.active > a > i {
        color: #404040;
    }
    .tabbable-line > .tab-content {
        margin-top: -3px;
        background-color: #fff;
        border: 0;
        border-top: 1px solid #eee;
        padding: 15px 0;
    }
    .portlet .tabbable-line > .tab-content {
        padding-bottom: 0;
    }

    /* Below tabs mode */

    .tabbable-line.tabs-below > .nav-tabs > li {
        border-top: 4px solid transparent;
    }
    .tabbable-line.tabs-below > .nav-tabs > li > a {
        margin-top: 0;
    }
    .tabbable-line.tabs-below > .nav-tabs > li:hover {
        border-bottom: 0;
        border-top: 4px solid #fbcdcf;
    }
    .tabbable-line.tabs-below > .nav-tabs > li.active {
        margin-bottom: -2px;
        border-bottom: 0;
        border-top: 4px solid #f3565d;
    }
    .tabbable-line.tabs-below > .tab-content {
        margin-top: -10px;
        border-top: 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
    }

	/* For today well */
.well-today{
	background: rgba(255,255,255,0.75);
	margin: 0 10% 0 10%;
}

/* Front menus */
.btn-lg{
	font-size: 34px;
	word-break: normal;
	white-space:normal !important;
	word-wrap:break-word;
}

/* Front notifitacions */
#bhavana_notificationsAll{
	margin-bottom: 10px;
	padding: 10px;
}
