<h1 class="page-header">Insignias</h1>

<div class="row">
    <div class="col-md-4 col-sm-4">
        <h2 class="page-header">El día de hoy</h2>
        <ul id="bhavana_activeBadges_day" class="list-group"></ul>
        <ul id="bhavana_inactiveBadges_day" class="list-group"></ul>

    </div>
    <div class="col-md-4 col-sm-4">
        <h2 class="page-header">Esta semana</h2>
        <ul id="bhavana_activeBadges_week" class="list-group"></ul>
        <ul id="bhavana_inactiveBadges_week" class="list-group"></ul>
    </div>
    <div class="col-md-4 col-sm-4">
        <h2 class="page-header">Este mes</h2>
        <ul id="bhavana_activeBadges_month" class="list-group"></ul>
        <ul id="bhavana_inactiveBadges_month" class="list-group"></ul>

    </div>
</div>
<script src="modules/bhavana/js/badges.js"></script>
<script>
Cala.runOnReady(function(){
		// @todo use Cala_confirmLoggedIn()
		Cala.confirmLoggedIn(function(){
			Cala.connectToMainServer(
				function(){
				Bhavana_badgesGetAll();
				});

			});
		});

</script>
