<div class="panel panel-info">
    <div class="panel-heading">
        <h1>Felicitaciones!</h1>
    </div>
    <div class="panel-body">
        Ya hemos concluido con los módulos 1 y 2, usted puede retomar las meditaciones cuantas veces lo requiera.
        <h4>¿Y ahora?</h4>
        <p>Este es tan solo el inicio.</p>
        <p>Pronto habrá más secciones que usted puede llevar y ampliar su meditación.</p>
        <p>
        También puede continuar a su propio ritmo con lo que ha aprendido, solo necesita un cronometro y un lugar tranquilo para meditar.
        </p>
        <br />
        <br />
        <br />
        <button class="btn btn-success" style="width: 100%">Muchas gracias :)</button>
        <div align="center">
        </div>
    </div>
</div>


<script>
Cala.Keys.remove("lastPage");
</script>
