<div class="panel panel-info">
	<div class="panel-heading">
		<h1>Meditación Para La Vida Diaria</h1>
		<div class="alert alert-warning"><strong>Antes de iniciar</strong> Tome unos momentos y lea esta información con cuidado.</div>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-4">
				<p>
				<strong>
					Ayuda y soporte
				</strong>
				No está solo en el curso, siempre habrá soporte disponible <a href='?x=bhavana/support' class='btn btn-info' type='button'>aquí</a>
				</p>
			</div>
			<div class="col-md-4">
				<p>
				<strong>
					No puede equivocarse
				</strong>
				Con solo seguir las instrucciones lo mejor que pueda ya está haciendo todo correctamente. Estar aquí ya es un paso correcto en la dirección correcta.
				</p>
			</div>
			<div class="col-md-4">
				<p>
				<strong>
					Retorne a la respiración
				</strong>
				La mente tiende siempre a distraerse, siempre que esto suceda (y va a suceder) simplemente retorne a la respiración, hágalo tantas veces como sea necesario.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<p>
				<strong>
					Lea las instrucciones y la introducción
				</strong>
				Ahí encontrará aspectos técnicos, desde como sentarse hasta como mantener la vista durante la sesión.
				</p>
			</div>
			<div class="col-md-4">
				<p>
				<strong>
					Visite el blog
				</strong>
				Información nueva y constante para aprovechar mejor el curso. <a href="https://lampara.lasangha.org?ref=app_intro" class="btn btn-info" type="button" target="_blank">Blog</a>
				</p>
			</div>
			<div class="col-md-4">
				<p>
				<strong>
					Recomiéndenos y ayude a otros
				</strong>
				Con su ayuda podemos crecer y beneficiar a más personas.
				</p>
			</div>
		</div>
	</div>
</div>

<a href="?x=bhavana/sessions" class="btn btn-info btn-block btn-lg" type="button" id="goNext">
	<i class="fa fa-heart-o" aria-hidden="true"></i>
	Iniciar
</a>
