<div class="container">
    <div class="page-header">
        <h2>¿Cómo se siente ahora?</h2>
    </div>
    <p class="bg-info calaHelp">Haga un nuevo registro y siga su progreso.</p>

    <div id="checkInValues">
        <h4 id="selectedEmotion"></h4>
        <input type="hidden" id="selectedEmotionInput" value="">
        <h4 id="selectedMindState"></h4>
        <input type="hidden" id="selectedMindStateInput" value="">
    </div>

    <!-- //Mind -->
    <div id="checkInMind">
        <h3>Me siento</h3>
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>
                <button type="button" class="btn btn-info btn-lg btn-block mindStatesBg5" onClick="setMindState('10', 'Excelente');">Excelente</button>
                <button type="button" class="btn btn-info btn-lg btn-block mindStatesBg4" onClick="setMindState('8', 'Muy bien');">Muy bien</button>
                <button type="button" class="btn btn-info btn-lg btn-block mindStatesBg3" onClick="setMindState('6', 'Bien');">Bien</button>
                <button type="button" class="btn btn-info btn-lg btn-block mindStatesBg2" onClick="setMindState('4', 'Mal');">Mal</button>
                <button type="button" class="btn btn-info btn-lg btn-block mindStatesBg1" onClick="setMindState('2', 'Muy mal');">Muy mal</button>
                </p>
            </div>
        </div>
    </div>

    <div id="checkInEmotions">
        <h3>Emociones</h3>
        <div class="row">
            <!-- Positive emotions -->
            <div class="col-md-3 col-sm-3">
                <p>
                <button type="button" class="btn btn-success btn-lg btn-block" onClick="setEmotion('gen', 'Generosidad');">Generosidad</button>
                <button type="button" class="btn btn-success btn-lg btn-block" onClick="setEmotion('amo', 'Amor');">Amor</button>
                <button type="button" class="btn btn-success btn-lg btn-block" onClick="setEmotion('com', 'Compasión');">Compasión</button>
                <button type="button" class="btn btn-success btn-lg btn-block" onClick="setEmotion('emp', 'Empatía');">Empatía</button>
                </p>
            </div>
            <div class="col-md-3 col-sm-3">
                <p>
                <button type="button" class="btn btn-success btn-lg btn-block" onClick="setEmotion('fel', 'Felicidad');">Felicidad</button>
                <button type="button" class="btn btn-success btn-lg btn-block" onClick="setEmotion('agr', 'Agradecimiento');">Agradecimiento</button>
                <button type="button" class="btn btn-success btn-lg btn-block" onClick="setEmotion('sat', 'Satisfacción');">Satisfacción</button>
                <button type="button" class="btn btn-success btn-lg btn-block" onClick="setEmotion('esp', 'Esperanza');">Esperanza</button>
                </p>
            </div>
            <!-- //Positive emotions -->
            <!-- Negative emotions -->
            <div class="col-md-3 col-sm-3">
                <p>
                <button type="button" class="btn btn-danger btn-lg btn-block" onClick="setEmotion('eno', 'Enojo');">Enojo</button>
                <button type="button" class="btn btn-danger btn-lg btn-block" onClick="setEmotion('fru', 'Frustración');">Frustración</button>
                <button type="button" class="btn btn-danger btn-lg btn-block" onClick="setEmotion('imp', 'Impaciencia');">Impaciencia</button>
                <button type="button" class="btn btn-danger btn-lg btn-block" onClick="setEmotion('dep', 'Depresión');">Depresión</button>
                </p>
            </div>
            <div class="col-md-3 col-sm-3">
                <p>
                <button type="button" class="btn btn-danger btn-lg btn-block" onClick="setEmotion('tri', 'Tristeza');">Tristeza</button>
                <button type="button" class="btn btn-danger btn-lg btn-block" onClick="setEmotion('ins', 'Inseguridad');">Inseguridad</button>
                <button type="button" class="btn btn-danger btn-lg btn-block" onClick="setEmotion('ans', 'Ansiedad');">Ansiedad</button>
                <button type="button" class="btn btn-danger btn-lg btn-block" onClick="setEmotion('pre', 'Preocupación');">Preocupación</button>
                </p>
            </div>
            <!-- //Negative emotions -->
        </div>
    </div>

    <div align="center" id="checkInSubmit">
        <h3>Mensaje<small>(opcional)</small></h3>
        <div class="form-group">
            <input type="text" class="form-control" id="checkInMessage" placeholder="Mensaje">
        </div>
        <button type="button" class="btn btn-lg btn-success btn-block" onClick="bhavana_checkinRegister();">
            Enviar
        </button>
    </div>
</div>
<br />
<script src="modules/bhavana/js/checkin.js"></script>
<script>

//Bhavana_alertAppOnlyFeature();

Cala_confirmLoggedIn('');

function setMindState(value, state){
    Cala.say("Setting the mind state");
    $("#selectedMindStateInput").attr('value', value);
    $("#selectedMindState").html("Mente: <span class='label label-default'>"+state+"</span>");
    $("#checkInMind").hide('slow', function(){
            //$("#checkInView").hide('slow');
            $("#checkInEmotions").show('slow', function(){
                //$("#checkInEmotions").get(0).scrollIntoView();
                $('html, body').animate({scrollTop: $("#checkInEmotions").offset().top}, 2000);
                });
            });
}

function setEmotion(emo, emotion){
    Cala.say("setting the emotion");
    //Cala.Messages.info('<h4>' + emotion + '</h4><div align="center"><button class="btn btn-success" type="button" onClick="bhavana_checkinRegister(\''+emo+'\')">Aceptar</button></div>');
    //bhavana_checkinRegister(emo);
    $("#selectedEmotionInput").attr('value', emo);
    $("#selectedEmotion").html("Emoción: <span class='label label-default'>"+emotion+"</span>");
    $("#checkInEmotions").hide('slow');
    $("#checkInSubmit").show('slow');

}
</script>
