<div class="page-header">
    <h1>Así me he sentido</h1>
</div>

<a href="?x=bhavana/checkInNew" class="btn btn-lg btn-success btn-block" role="button">Haga un nuevo registro</a>
<br />
<div id="checkinView" width="100%">
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <div class="well emptyWell">
                <h3>Principales emociones</h3>
                <ul class="list-group" id="checkInMainInWeekEmotions"></ul>
            </div>
        </div>
        <div class="col-md-8 col-sm-8">
            <div class="well emptyWell">
                <h3>Así me he sentido</h3>
                <ul class="list-group" id="checkInMindStates"></ul>
            </div>
        </div>
    </div>

    <div class="well emptyWell" id="checkInFeelingPerDayDiv">
        <canvas id="checkInFeelingPerDay" width="400" height="200"></canvas>
    </div>

    <div class="well emptyWell">
        <h3>Mensajes recientes</h3>
        <ul class="list-group" id="checkInMainLatestMessages"></ul>
    </div>
</div>

<script src="modules/bhavana/js/checkin.js"></script>
<script src="modules/bhavana/js/chartNew/ChartNew.js"></script>
<script>
Cala_confirmLoggedIn();
Cala.runOnReady(bhavana_checkinGetData);
//Bhavana_alertAppOnlyFeature();

</script>
