<div class="well well-today" role="alert" align="center">
	<div class="alert alert-info"><h2 id="bhavana_forTodayMain"></h2></div>
	<div id="bhavana_forToday"></div>
	<div id="bhavana_forTodayQuote"></div>
</div>

<div class="container">

	<hr />

	<a type="button" class="btn btn-lg btn-info btn-block mainButtons" href="#" onClick="return Bhavana_gotoLastSessionPage();">
		<i class="fa fa-graduation-cap" aria-hidden="true"></i> Curso de meditación
	</a>

	<a type="button" class="btn btn-lg btn-success btn-block mainButtons" href="?x=bhavana/timer">
		<i class="fa fa-hourglass" aria-hidden="true"></i> Meditación libre
	</a>

	<a type="button" class="btn btn-lg btn-success btn-block" href="?x=bhavana/forums">
			<i class="fa fa-group" aria-hidden="true"></i> Comunidad
	</a>

	<hr />

	<a type="button" class="btn btn-lg btn-success btn-block mainButtons" href="?x=booker/index">
		<i class="fa fa-book" aria-hidden="true"></i> Lecturas
	</a>

	<!-- a type="button" class="btn btn-lg btn-success btn-block mainButtons" href="?x=bhavana/medsByTopic">
		<i class="fa fa-book" aria-hidden="true"></i> Series
	</a -->

	<a type="button" class="btn btn-lg btn-success btn-block mainButtons" href="?x=bhavana/weekly">
		<i class="fa fa-rss" aria-hidden="true"></i> Meditación Semanal
	</a>

	<a type="button" class="btn btn-lg btn-success btn-block mainButtons" href="?x=bhavana/podcast">
		<i class="fa fa-podcast" aria-hidden="true"></i> Podcast: Comprender y Despertar
	</a>

	<!-- a type="button" class="btn btn-lg btn-success btn-block" href="?x=bhavana/badgesView">
		<i class="fa fa-book" aria-hidden="true"></i> Lecturas Mis avances
	</a-->
	<!--a type="button" class="btn btn-lg btn-success btn-block" href="?x=bhavana/checkInNew">
		<i class="fa fa-book" aria-hidden="true"></i> Lecturas ¿Cómo se siente?
	</a-->

	<a type="button" class="btn btn-lg btn-success btn-block" href="?x=bhavana/reminders">
		<i class="fa fa-inbox" aria-hidden="true"></i> Recordatorios
	</a>

	<hr />
	<a type="button" class="btn btn-lg btn-success btn-block" href="?x=bhavana/support">
		<i class="fa fa-life-bouy" aria-hidden="true"></i> Ayuda y Soporte
	</a>

	<a type="button" class="btn btn-lg btn-success btn-block" href="?x=bhavana/intro">
		<i class="fa fa-info" aria-hidden="true"></i> Información Básica
	</a>
	<a type="button" class="btn btn-lg btn-success btn-block" href="?x=bhavana/tips">
		<i class="fa fa-sun-o" aria-hidden="true"></i> Consejos de Meditación
	</a>

	<hr />
	<a type="button" class="btn btn-lg btn-success btn-block" href="?x=bhavana/myStats">
		<i class="fa fa-line-chart" aria-hidden="true"></i> Mis estadísticas
	</a>
	<a type="button" class="btn btn-lg btn-success btn-block" href="?x=bhavana/meditationMap">
		<i class="fa fa-globe" aria-hidden="true"></i> Estadísticas Grupales
	</a>

	<!-- Promotional -->
	<hr />

	<a type="button" class="btn btn-lg btn-success btn-block" href="?x=bhavana/share">
		<i class="fa fa-heart" aria-hidden="true"></i> Ayúdenos a ayudar
	</a>

	<!-- //container -->
</div>

<div align="center" id="bhavana_webPromo">
	<hr />
	<a href="https://play.google.com/store/apps/details?id=org.lasangha.bhavana" target="_blank">
		<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/es-419_generic_rgb_wo_45.png" />
	</a>
	<!--a href="https://apps.facebook.com/bahavana-lasangha" role="button" class="btn btn-success btn-lg" target="_blank">
		App en Facebook
	</a-->
</div>

<!-- //Promotional -->

<script>
Cala.runOnReady(bhavana_forTodayGenerate);
if(Cala.onApp == true){
	$("#bhavana_webPromo").hide();
}
</script>

