<div align="center">

    <h1>Gracias!!!</h1>

    <div>
        Sus donaciones nos permiten ofrecer esta y otras herramientas de forma completamente gratuita.
        <br />
        También nos permite desarrollar otros proyectos y crecer.
    </div>
    <br />

    <div class="well">
        <div style="text-align: center;"><h2>PayPal</h2></div>
        <p>Usted puede contribuir mediante PayPal que es una forma segura y rápida.</p>
        <p>Cualquier contribución es de gran ayuda</p>
        <p>Solo tiene que hacer Click en el botón de abajo y una vez en la página de Paypal puede indicar el monto deseado.</p>
        <div align="center">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="hosted_button_id" value="KY7VVA7MBQW72">
                <input type="image" src="http://files.lasangha.org/imgs/payPalButton.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div><!-- //paypal -->


    <div class="alert alert-warning" role="alert">
        Conozca otras maneras en que puede ayudar.
        <br />
        <a href="http://lasangha.org/info/formas-de-contribuir?src=app_donate" target="_blank" role="button" class="btn btn-lg btn-info">
            Aquí
        </a>
    </div>
    <br />
</div>
