<h1 class="page-header">Juego de palabras</h1>

<div class="row">
   <div class="col-md-8 col-sm-8">
        <h2 id="totalPointsNext">
            <span class="label label-primary" id="totalPoints">0</span> >> <span class="label label-info" id="totalPointsNextBar">5</span>
        </h2>
        <div id="wordsScroll" style="width: 100%; cursor: pointer;" onMouseEnter="Cala.say('in');" onMouseOut="Cala.say('out');">
            <ul id="allWords" class="list-group"></ul>
        </div>
        <button type="button" class="btn btn-lg btn-block btn-success" id="playGame" onClick="SelfEsteam.start();">
            <i class="fa fa-play" aria-hidden="true"></i> Lecturas
            Iniciar
        </button>
        <button type="button" class="btn btn-lg btn-block btn-info" id="pauseGame" onClick="SelfEsteam.pause();" style="display: none;">
            <i class="fa fa-pause" aria-hidden="true"></i> Lecturas
            Pausa
        </button>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="alert alert-info" role="alert">
            Enfocando la mente en palabras positivas cambiamos la forma de ver el mundo, la forma en que lo persibimos y hasta la forma en que pensamos. Pruebe 5 minutos por día y compruébelo por usted mismo.
        </div>
    </div>
</div>
<script src="modules/bhavana/js/gamesWords.js"></script>

