<div align="center">
    <div class="alert alert-warning" role="alert">
        <h3>
            Hemos meditado <span id="causesTotalMinutes" class="label label-default">#</span> minutos por <span id="causesCause" class="label label-default">#</span>
        </h3>
    </div>	
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2>En grupo meditamos mejor</h2>
    </div>
    <div class="panel-body" id="groupMeditationsBody">
        <canvas id="myChart" height="100%"></canvas>
         <div id="groupTimesChart"></div>
    </div>
</div>

<script src="modules/bhavana/js/Chart.min.js"></script>
<script>
	Cala.runOnReady(Bhavana_getAllMeditationTimesPerDay);
	Cala.runOnReady(bhavana_getMeditationMaxCauseTime());
</script>

