<div id="accordion" role="tablist">
	<div class="card">
		<div class="card-header" role="tab" id="headingOne">
			<h5 class="mb-0">
				<a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Requisitos básicos
				</a>
			</h5>
		</div>

		<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
			<div class="card-body">
				<div class="list-group">
					<div class="list-group-item list-group-item-info" align="center">
						<h2>Va a necesitar</h2>
					</div>
					<div class="list-group-item">
						<i class="fa fa-check" aria-hidden="true"></i>
						Un lugar apropiado
					</div>
					<div class="list-group-item">
						<i class="fa fa-check" aria-hidden="true"></i>
						Una hora cómoda
					</div>
					<div class="list-group-item">
						<i class="fa fa-check" aria-hidden="true"></i>
						Silencio suficiente
					</div>
					<div class="list-group-item">
						<i class="fa fa-check" aria-hidden="true"></i>
						Duración acorde a las posibilidades
					</div>
					<div class="list-group-item">
						<i class="fa fa-check" aria-hidden="true"></i>
						Postura cómoda
					</div>
					<div class="list-group-item">
						<i class="fa fa-check" aria-hidden="true"></i>
						Pocas distracciones
					</div>
					<div class="list-group-item">
						<i class="fa fa-check" aria-hidden="true"></i>
						Luz confortable
					</div>
					<div class="list-group-item">
						<i class="fa fa-check" aria-hidden="true"></i>
						Sin Sueño
					</div>
					<div class="list-group-item">
						<i class="fa fa-check" aria-hidden="true"></i>
						Buena energía
					</div>
				</div>

				<div class="list-group">
					<div class="list-group-item list-group-item-info" align="center">
						<h2>¿Qué no se debe hacer?</h2>
					</div>
					<div class="list-group-item">
						<i class="fa fa-minus" aria-hidden="true"></i>
						Frustrarse
					</div>
					<div class="list-group-item">
						<i class="fa fa-minus" aria-hidden="true"></i>
						Enojarse
					</div>
					<div class="list-group-item">
						<i class="fa fa-minus" aria-hidden="true"></i>
						Forzarse
					</div>
					<div class="list-group-item">
						<i class="fa fa-minus" aria-hidden="true"></i>
						Tener sentimientos negativos
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-header" role="tab" id="headingTwo">
				<h5 class="mb-0">
					<a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						Preguntas frecuentes
					</a>
				</h5>
			</div>
			<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<div class="list-group">
						<div align="center">
							<div class="list-group-item list-group-item-info">
								<h2>Algunas dudas comunes</h2>
							</div>
						</div>
						<div class="list-group-item">
							<i class="fa fa-exclamation" aria-hidden="true"></i>
							No es necesario ser budista
						</div>
						<div class="list-group-item">
							<i class="fa fa-exclamation" aria-hidden="true"></i>
							No va a perder a sus amigos
						</div>
						<div class="list-group-item">
							<i class="fa fa-exclamation" aria-hidden="true"></i>
							No es necesario cambiar sus creencias
						</div>
						<div class="list-group-item">
							<i class="fa fa-exclamation" aria-hidden="true"></i>
							Se requiere dedicación y práctica
						</div>
						<div class="list-group-item">
							<i class="fa fa-exclamation" aria-hidden="true"></i>
							Se trata de desarrollar la mente
						</div>
						<div class="list-group-item">
							<i class="fa fa-exclamation" aria-hidden="true"></i>
							Se medita en todo momento, no solo sentado
						</div>
						<div align="center">
							<div class="list-group-item list-group-item-info">
								<h2>La meditación no es</h2>
							</div>
						</div>
						<div class="list-group-item">
							<i class="fa fa-minus" aria-hidden="true"></i>
							Tribulación
						</div>
						<div class="list-group-item">
							<i class="fa fa-minus" aria-hidden="true"></i>
							Poner la mente en blanco
						</div>
						<div class="list-group-item">
							<i class="fa fa-minus" aria-hidden="true"></i>
							Repetición automática de palabras
						</div>
						<div class="list-group-item">
							<i class="fa fa-minus" aria-hidden="true"></i>
							Mantener la antención indefinidamente en un punto
						</div>
					</div>
				</div><!-- //faq -->
			</div>
		</div>
	</div>

	<div class="card">
		<div class="card-header" role="tab" id="headingThree">
			<h5 class="mb-0">
				<a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Posturas
				</a>
			</h5>
		</div>
		<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
			<div class="card-body">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1>
						Cuatro posturas de meditación
					</h1>
				</div>
				<div class="panel-body">
					<p>
					Cada postura tiene un fin específico, con beneficios y limitantes propios.
					<br />
					Son 4 en total.
					<br />
					Es recomendable variar las posturas para aprovechar al máximo la meditación.
					<br />
					La respiración siempre es 'normal', esto significa que no es necesario controlarla 
					de ninguna manera, solo observarla y aprender de ella.
					</p>
				</div>
			</div>

			<!-- sitting -->
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1>
						Sentado
					</h1>
				</div>
				<div class="panel-body">

					<div class="row">
						<div class="col-md-4">
							<h3>Posición básica</h3>
							<p>Brinda balance al cuerpo y crea un campo de energía entre las piernas y el tronco muy propicio para la práctica.</p>
							Con las piernas cruzadas, la espalda recta, los ojos cerrados o la mirada en 
							ángulo de 45 grados hacia abajo, la barbilla ligeramente hacia abajo y hacia
							atrás.<br />
							<p>Las manos se colocan sobre las piernas, en el centro, palmas hacia arriba,
							la derecha sobre la izquierda y los dedos pulgares se tocan suavemente.</p>
						</div>
						<div class="col-md-4">
							<h3>Estilo Burma</h3>
							<div class="thumbnail">
								<img src="modules/bhavana/img/med/burmese.jpg"
								alt="Meditación postura sentado estilo Burma"
								title="Meditación postura estilo Burma"
								class="img-fluid"
								/>
							</div>
							<p>Una pierna frente a la otra</p>
						</div>

						<div class="col-md-4">
							<h3>Medio Loto</h3>
							<div class="thumbnail">
								<img src="modules/bhavana/img/med/halfLotus.jpg"
								alt="Meditación postura sentado medio loto"
								title="Meditación postura estilo medio loto"
								class="img-fluid"
								/>
							</div>
							<p>Una pierna sobre la otra</p>
						</div>
					</div>

					<div class="row">
						<div class="col-md-4">
							<h3>Loto</h3>
							<div class="thumbnail">
								<img src="modules/bhavana/img/med/fullLotus.jpg"
								alt="Meditación postura sentado loto completo"
								title="Meditación postura loto completo"
								class="img-fluid"
								/>
							</div>
							<p>Ambas piernas entrelazadas</p>
						</div>

						<div class="col-md-4">
							<h3>Sobre un Cojín</h3>
							<div class="thumbnail">
								<img src="modules/bhavana/img/med/cushion.jpg"
								alt="Meditación postura sobre un cojín"
								title="Meditación postura sobre un cojín"
								class="img-fluid"	
								/>
							</div>
							<p>En flor de loto, burma o medio loto</p>
						</div>
						<div class="col-md-4">
							<h3>Estilo Zen</h3>
							<div class="thumbnail">
								<img src="modules/bhavana/img/med/zen.jpg"
								alt="Meditación postura sentado estilo zen"
								title="Meditación postura estilo Zen"
								class="img-fluid"
								/>
							</div>
							<p>Sobre un cojín o banco de madera, las piernas a los lados</p>
						</div>
					</div>
				</div>
			</div><!-- //sitting -->

			<!-- walking -->
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1>
						Caminando
					</h1>
				</div>
				<div class="panel-body">
					<p>
					Esta postura ayuda a traer energía tanto física como mental a la práctica, es de suma importancia para estirar las piernas y el cuerpo en general. Es además una excelente transición antes de una sesión sentado ya que ayuda a regular la energía, si se viene de estar dormido ayuda a subir la misma lo suficiente como para poder llevar a cabo una sesión sentado sin llegar a dormirse nuevamente, si por el contrario se viene llegando de una situación de mucho movimiento como del trabajo o la escuela, ayuda a disminuir esa energía extra para poder concentrarse apropiadamente.
					</p>
					<p>
					En un espacio de unos 15 a 20 pasos (ojalá delimitado por algún tipo de marca para no tener que mantener la atención en este elemento) se inicia una caminata que va de un extremo al otro. Se presta atención a cada movimiento de la caminata buscando tomar conciencia plena de cada uno de los elementos de la misma: cuando inicia, cada paso que se da, cuando se llega al final del camino, cuando se está de pie antes de girar, cuando se gira, cuando se espera para iniciar el siguiente recorrido y así sucesivamente.
					</p>
					<p>
					Conforme la práctica se desarrolla, estos movimientos se irán haciendo cada vez más evidentes y la atención se va refinando más y más. Lo importante es no sobrecargar la práctica más allá de lo necesario o de las capacidades en que cada individuo se encuentre en un momento dado, este factor irá surgiendo naturalmente.
					</p>
					<p>
					Las manos pueden estar al frente o atrás de la espalda, la derecha sujeta la izquierda suavemente, la mirada se dirige hacia el frente, no sobre los pies, de manera que se está atento al camino sin prestar atención a nada en específico.
					</p>
				</div>
			</div><!-- //walking -- >

			<!-- standing/laying -->
			<div class="panel panel-info">
				<div class="panel-heading">
					<h1>
						De pie y acostado
					</h1>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-6">
							<h2>Acostado</h2>
							<p>
							Esta postura es generalmente sobre un costado (cúbito lateral), pero en ocasiones 
							se sugiere que sea completamente acostado en posición supina. Las manos se 
							encuentran a los lados con las palmas hacia arriba y los ojos pueden estar 
							abiertos o cerrados. Es muy similar al Shavasana del Yoga, pero con menos 
							tensión en el cuerpo.
							</p>
						</div>
						<div class="col-md-6">
							<h2>De pie</h2>
							<p>
							Esta postura es mucho más sencilla, es simplemente estar de pie en un lugar 
							fijo durante la toda sesión, las manos al frente o atrás, la derecha sostiene 
							suavemente la izquierda. Los ojos pueden estar abiertos o cerrados.
							</p>
						</div>
					</div>
				</div><!-- //stating/laying -- >

		</div><!-- //postures-->


			</div>
		</div>
	</div>
</div>


