<div id="bhavana_lastMeditationInfo" class="alert alert-success" type="alert">
    <h1>Última sesión: <span id="bhavana_lastMeditationInfoDet"></span></h1>
</div>

<!-- Modal Player -->
<div class="modal fade" id="bhavana_modalPlayer" tabindex="-1" role="dialog" aria-labelledby="bhavana_modalPlayerLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="bhavana_modalPlayerLabel"><span id="bhavana_sessionTitle">Sesión</span> <span class="label label-default" id="bhavana_sessionNumber">#</span>
                </h4>
            </div>
            <div class="modal-body">
                <div align="center">
                        <div class="alert alert-success" type="alert" style="display: none;" id="bhavana_meditationIntention">Solo meditando</div>
                    <div class="btn-group" role="group" id="bhavana_selectMeditationIntention">
                        <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            Hoy voy a meditar por...
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                        <li class="list-group-item"><a href="" onClick="return bhavana_setMeditationIntention('non', 'Solo quiero meditar');">Solo quiero meditar</a></li>
                        <li class="list-group-item"><a href="" onClick="return bhavana_setMeditationIntention('paz', 'La Paz');">La Paz</a></li>
                            <li class="list-group-item"><a href="" onClick="return bhavana_setMeditationIntention('com', 'Compasión');">Compasión</a></li>
                            <li class="list-group-item"><a href="" onClick="return bhavana_setMeditationIntention('hum', 'Humildad');">Humildad</a></li>
                        </ul>
                    </div>
                </div>
                <div style="text-align:center;" id="bhavana_medVideoDiv"> 
                    <div style="display: none;" id="bhavana_medVideoPlayer"></div>
                    <div class="progress">
                        <div id="bhavana_timerProgressBar" class="progress-bar progress-bar-info progress-bar-striped active" style="width: 0%;"
                            role="progressbar"
                            aria-valuenow="0"
                            aria-valuemin="0"
                            aria-valuemax="100">
                        </div>
                    </div><!-- //progress -->

                    <button id="medAudioPlayPause" class="btn btn-lg btn-block btn-success" type="button" onclick="bhavana_playPause()">
                        <div id="bhavana_playPauseMed"><i class="fa fa-play-circle fa-5x"></i></div>
                    </button> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well">
    <a href="?x=bhavana/tips&ref=medCourse" type="button" class="btn btn-block btn-lg btn-success">
        Consejos de meditación
    </a>
    <br />
    <a href="?x=bhavana/badgesView&ref=medCourse" type="button" class="btn btn-block btn-lg btn-success">
       Mis avances
    </a>
</div>
<!-- Pagers -->
<h3 onClick="$('#bhavana_sessions_basics').toggle('slow');">
    <button type="button" class="btn btn-default btn-lg btn-block">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Las bases
    </button>
</h3>
<div id="bhavana_sessions_basics" style="display: none;"></div>

<h3 onClick="$('#bhavana_sessions_samatha').toggle('slow');">
    <button type="button" class="btn btn-default btn-lg btn-block">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Concentración (Samatha)
    </button>
</h3>
<div id="bhavana_sessions_samatha" style="display: none;"></div>

<h3 onClick="$('#bhavana_sessions_vipassana').toggle('slow');">
    <button type="button" class="btn btn-default btn-lg btn-block">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Introspección (Vipassana)
    </button>
</h3>
<div id="bhavana_sessions_vipassana" style="display: none;"></div>

<h3 onClick="$('#bhavana_sessions_life_0').toggle('slow');">
    <button type="button" class="btn btn-default btn-lg btn-block">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> En la Vida Diaria
    </button>
</h3>
<div id="bhavana_sessions_life_0" style="display: none;"></div>

<script src="modules/bhavana/js/medCourse.js"></script>
<script>
// Keep the screen on
// @todo set this on only if the timer is running, or remove, it is not really important, specially if it is going to use a lot of battery
//Cala_keepScreenOn();
</script>
