<div align="center">
    <div class="alert alert-warning" role="alert">
        <h3>
            Hemos meditado <span id="causesTotalMinutes" class="label label-default">#</span> minutos por <span id="causesCause" class="label label-default">#</span>
        </h3>
    </div>	
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<h1>Aquí estamos</h1>
	</div>
	<div class="panel-body">
		<div id="myMap"></div>
	</div>
</div>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2>En grupo meditamos mejor</h2>
    </div>
    <div class="panel-body" id="groupMeditationsBody">
        <canvas id="myChart" height="100%"></canvas>
         <div id="groupTimesChart"></div>
    </div>
</div>

<script src="modules/bhavana/js/Chart.min.js"></script>
<script src="modules/bhavana/js/ol.js"></script>

<script>
Cala.say("creating the map");
// I need the css loaded

$.ajax({
url:"modules/bhavana/css/ol.css",
success:function(data){
$("<style></style>").appendTo("head").html(data);
var map = new ol.Map({
target: 'myMap',
layers: [
new ol.layer.Tile({
source: new ol.source.OSM()
}),
new ol.layer.Vector({
source: new ol.source.GeoJSON({
projection: 'EPSG:3857',
url: Drupal.settings.site_path + '/files/serveMap.php'
})
})
],
view: new ol.View({
center: [0, 0],
zoom: 1
}),
});
}
})

// Get the total minutes per cause
Cala.runOnReady(Bhavana_getAllMeditationTimesPerDay);
Cala.runOnReady(Bhavana_getMeditationMaxCauseTime);
</script>

