<h1>Podcast: Comprender y Despertar</h1>
<hr />
<div id="bhavana_podcastPlayer" align="center">
	<div class="card">
		<div class="card-body">
			<audio controls id="bhavana_player" style="display: none; visibilty: hidden;">
				<source src="https://lasangha.org/files/bhavana/meditaciones/01_amorCompasivoRespiracion.mp3" type="audio/mp3" id="bhavana_playerSource">
				Your browser does not support the audio element.
			</audio> 
			<div>
				<h2><span id="bhavana_podcastTitle">1</span></h2>
				<div class="alert alert-warning">Busque una posición cómoda y de inicio a la meditación.</div>
				<button onclick="document.getElementById('bhavana_player').play()" class="btn btn-primary"><i class="fa fa-play-circle" aria-hidden="true"></i></button> 
				<button onclick="document.getElementById('bhavana_player').pause()" class="btn btn-success"><i class="fa fa-pause-circle" aria-hidden="true"></i></button> 
				<button onclick="document.getElementById('bhavana_player').volume += 0.1" class="btn btn-success"><i class="fa fa-volume-up" aria-hidden="true"></i></button> 
				<button onclick="document.getElementById('bhavana_player').volume -= 0.1" class="btn btn-success"><i class="fa fa-volume-down" aria-hidden="true"></i></button> 
				<a type="button" class="btn btn-info" href="" id="bhavana_podcastDownloadLink" download="true"><i class="fa fa-download" aria-hidden="true"></i></a> 
			</div>
		</div>
	</div>
	<hr />
</div>

<div id="bhavana_podcastList" align="center"></div>

<!--div class="container">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315"
			class="embed-responsive-item"
			src="https://www.youtube.com/embed/videoseries?list=PLTgEM1UTivW3_BJ0Pc2DDf1cPHF7i0E9H" frameborder="0" allowfullscreen></iframe>
	</div>
	<br />
	<div class="well">
		Envíe sus preguntas al podcast: info@lasangha.org
	</div>
	<br />
	<a href="http://www.ivoox.com/podcast-comprender-despertar_sq_f1322273_1.html"
		type="button"
		class="btn btn-lg btn-block btn-success">
		También en ivoox
	</a>
</div-->

<script>
	Bhavana_podcastGetList();
	bhavana_notificationsHide(bhavana_notificationsGetId('podcast'));
	$('#bhavana_podcastPlayer').hide();
</script>
