<iframe src="http://lasangha.org/es/page/load-externals?pid=85"
    width="100%"
    height="800"
    frameborder="0"
    id="bhavana_iframeRegForm">
</iframe>
<br />
<div align="center">
    <a href="?x=bhavana/medCourse&ref=app_regForm" type="button" class="btn btn-lg btn-success">Iniciar el curso</a>
</div>

