<div id="bhavana_register"></div>

<script>
Cala_loadFrame("bhavana_register", Cala.ip + 'form/registro-retiro-personal?ref=course', "100%", "5700px");
bhavana_notificationsHide('bhavana_notifications_registerDone');
</script>
