<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="page-header">
            <h1>Conciencia Plena</h1>
        </div>
    </div>

    <div class="col-md-8 col-sm-8">
        <div class="well emptyWell">
            <div id="bhavana_remindersRandomCreate">
                <div class="row">
                    <div class="col-md-8 col-sm-8">
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addonStart" style="min-width: 125px;">Inicio</span>
                            <input type="text" id="bhavana_start" placeholder="7" class="form-control" onKeyup="this.value=this.value.replace(/[^\d]/,'')">
                        </div>
                        <div align="center">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-lg btn-primary active" id="labelRandomIniAm">
                                    <input type="radio" name="randomIniAmPm" id="randomIniAm" value="am" autocomplete="off" checked> am
                                </label>
                                <label class="btn btn-lg btn-primary" id="labelRandomIniPm">
                                    <input type="radio" name="randomIniAmPm" id="randomIniPm" value="pm" autocomplete="off"> pm
                                </label>
                            </div>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addonEnd" style="min-width: 125px;">Fin</span>
                            <input type="text" id="bhavana_end" placeholder="8" class="form-control" onKeyup="this.value=this.value.replace(/[^\d]/,'')">
                        </div>
                        <div align="center">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-lg btn-primary" id="labelRandomEndAm">
                                    <input type="radio" name="randomEndAmPm" id="randomEndAm" value="am" autocomplete="off"> am
                                </label>
                                <label class="btn btn-lg btn-primary active" id="labelRandomEndPm">
                                    <input type="radio" name="randomEndAmPm" id="randomEndPm" value="pm" autocomplete="off" checked> pm
                                </label>
                            </div>
                        </div>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon" id="sizing-addonQ" style="min-width: 125px;">Cantidad</span>
                            <input type="text" id="bhavana_q" placeholder="5" class="form-control" onKeyup="this.value=this.value.replace(/[^\d]/,'')">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="alert alert-warning" role="alert">
                            <i class="fa fa-info" aria-hidden="true"></i> Lecturas
                            Se crearán recordatorios a horas aleatorias, usted puede cambiarlos cuando guste.
                        </div>
                        <button class="btn btn-success btn-lg btn-block" role="button"
                            onClick="Bhavana_setReminders.calculateRandom().setTimesRandom();">Crear</button>
                    </div>
                </div>
            </div>
            <div id="bhavana_remindersRandomClear">
                <div class="alert alert-info" role="alert">
                    Usted recibirá recordatorios aleatorios a lo largo del día.
                </div>

                <button class="btn btn-warning btn-lg btn-block" role="button"
                    onClick="Bhavana_setReminders.randomClearAll()">Eliminar recordatorios</button>
            </div>
        </div>
    </div>
</div>

<div class="sectionsDivider"></div>

<div class="row">
    <div class="col-md-4 col-sm-4">
        <div class="page-header">
            <h1>Meditación Diaria</h1>
        </div>
    </div>

    <div class="col-md-8 col-sm-8">

        <div class="well emptyWell">
            <div class="row" id="bhavana_remindersDailyCreate">
                <div class="col-md-3 col-sm-3">
                    <div class="alert alert-info" role="alert">
                        Un hábito se crea en 21 días, pruebe el curso de meditación por 30 días y desarrolle el hábito de meditar.
                    </div>
                </div>
                <div class="col-md-5 col-sm-5">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon" id="sizing-addon1">Hora</span>
                                <input type="text" id="bhavana_daily" placeholder="7" class="form-control" onKeyup="Cala_validadeHoursField('bhavana_daily')">
                            </div>
                            <div align="center">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-lg btn-primary active" id="labelDailyAm">
                                        <input type="radio" name="dailyAmPm" id="dailyAm" value="am" autocomplete="off" checked> am
                                    </label>
                                    <label class="btn btn-lg btn-primary" id="labelDailyPm">
                                        <input type="radio" name="dailyAmPm" id="dailyPm" value="pm" autocomplete="off"> pm
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 col-sm-4">
                    <button class="btn btn-success btn-lg btn-block" role="button" 
                        onClick="Bhavana_setReminders.setDaily();">Crear</button>
                </div>
            </div>
            <div id="bhavana_remindersDailyClear">
                <h4>Recordatorio diario: <span class="label label-default" id="bhavana_remindersDailyCurrent"></span></h4>
                <button class="btn btn-warning btn-lg btn-block" role="button"
                    onClick="Bhavana_setReminders.clearDaily();">Eliminar recordatorio</button>
            </div>
        </div>
    </div>
</div>

<!--button class="btn btn-success btn-lg btn-block" role="button" onClick="Bhavana_setReminders.getScheduledAll();">Ver todos</button>
<button class="btn btn-success btn-lg btn-block" role="button" onClick="scheduleMultiple();">Test multiple</button-->

<script src="modules/bhavana/js/reminders.js"></script>
<script>

//Cala_confirmLoggedIn('');
Bhavana_alertAppOnlyFeature();

Bhavana_setReminders.checkRandom();
Bhavana_setReminders.checkDailyIsSet();

// Validates hours fields, only 1 to 12
function Cala_validadeHoursField(id){
    Cala.say("Validating field: " + id);
    var field = $("#"+id);
    field.val(field.val().replace(/[^\d]/,''));
    // Outer limits
    if(field.val() > 12){
        field.val(12);
    }
    if(field.val() == 0 && field.val() !== ""){
        field.val(1);
    }
}
</script>

