<div align="center">
	<a href="?x=bhavana/registerCourse" type="button" class="btn btn-success">Regístrese en el curso</a>
	<a href="?x=bhavana/tips" type="button" class="btn btn-info">Consejos de meditación</a>
	<a href="?x=bhavana/intro" type="button" class="btn btn-light">Datos básicos</a>
</div>
<hr />
<div class="page-header">
	<h1>
		<span id="sessionTitle">
			Esta sesión
		</span>
		<span class="label label-default" id="sessionNumber">#</span>
	</h1>
</div>

<div class="row">

	<div class="col-md-7 col-sm-7">

		<div class="well emptyWell">

			<div class="alert"><h3>Tema de esta sección: <span id="sessionDesc">Vamos a meditar...</span></h3></div>

			<div id="bhavana_medStuff">
				<div class="alert alert-info" id="bhavana_meditationInstructions">
					Seleccione la intención por la cual va a meditar hoy para cargar el video.
				</div>
				<div align="center">
					<div class="dropdown" id="bhavana_selectMeditationIntention">
						<button class="btn btn-info dropdown-toggle btn-lg" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Hoy voy a meditar por...
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<button class="dropdown-item btn-lg" type="button" onClick="return Bhavana_Session.startMeditation('non');">Solo meditar</button>
							<button class="dropdown-item btn-lg" type="button" onClick="return Bhavana_Session.startMeditation('paz');">Paz</button>
							<button class="dropdown-item btn-lg" type="button" onClick="return Bhavana_Session.startMeditation('com');">Compasión</button>
							<button class="dropdown-item btn-lg" type="button" onClick="return Bhavana_Session.startMeditation('hum');">Humildad</button>
						</div>
					</div>
				</div>
			</div>

			<div id="bhavana_videoContainer">
				<div id="bhavana_videoInstruccionsReady" class="alert alert-info">
					Inicie el video, cierre los ojos y comience su meditación....
				</div>
				<div align="center" id="bhavana_waitingForVideo">
					<img src="img/loader_balls.gif"> Cargando...
				</div>

				<div align="center"	class="embed-responsive embed-responsive-16by9">
					<div align="center"	id="sessionsPlayer"></div>
				</div>
			</div>

		</div>
		<!--nav>
			<ul class="pagination justify-content-center">
				<li class="page-item">
				<a href="?x=sessions" class="page-link" id="goBack">
					<i class="fa fa-step-backward" aria-hidden="true"></i>
					Anterior
				</a>
				</li>
				<li class="page-item">
				<a href="?x=sessions" class="page-link" id="goNext">
					Siguiente
					<i class="fa fa-step-forward" aria-hidden="true"></i>
				</a>
				</li>
			</ul>
		</nav-->

	</div>
	<div class="col-md-5 col-sm-5" style="height:450px; overflow:auto;">

		<h2 align='center' class='page-header'>Samatha</h2>
		<a href="?x=bhavana/sessions&sessionId=1&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_1">1 
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=2&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_2">2 
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=3&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_3">3
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=4&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_4">4
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=5&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_5">5
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=6&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_6">6
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=7&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_7">7
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=8&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_8">8
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=9&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_9">9
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=10&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_10">10
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=11&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_11">11
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=12&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_12">12
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=13&cat=samatha" class="btn btn-light btn-block btn-lg" type="button" id="samatha_13">13
			<i class="fa fa-headphones" aria-hidden="true"></i></a>

		<h2 align='center' class='page-header'>Vipassana</h2>
		<a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_1">1 
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=2&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_2">2
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=3&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_3">3
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=4&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_4">4 
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=5&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_5">5
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=6&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_6">6
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=7&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_7">7 
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=8&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_8">8
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=9&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_9">9
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=10&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_10">10 
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=11&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_11">11
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=12&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_12">12
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=13&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_13">13 
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=14&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_14">14
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=15&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_15">15
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=16&cat=vipassana" class="btn btn-light btn-block btn-lg" type="button" id="vipassana_16">16 
			<i class="fa fa-user" aria-hidden="true"></i></a>

		<h2 align='center' class='page-header'>Vida Diaria</h2>
		<a href="?x=bhavana/sessions&sessionId=1&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_1">1
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=2&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_2">2
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=3&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_3">3
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=4&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_4">4
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=5&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_5">5
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=6&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_6">6
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=7&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_7">7
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=8&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_8">8
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=9&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_9">9
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=10&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_10">10
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=11&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_11">11
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=12&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_12">12
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=13&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_13">13
			<i class="fa fa-user" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=14&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_14">14
			<i class="fa fa-headphones" aria-hidden="true"></i></a>
		<a href="?x=bhavana/sessions&sessionId=15&cat=life" class="btn btn-light btn-block btn-lg" type="button" id="life_15">15
			<i class="fa fa-user" aria-hidden="true"></i></a>
	</div>
</div>

<script src="modules/bhavana/js/sessions.js"></script>
<script src="modules/bhavana/js/bhavana.js"></script>
<!-- Register meditation times -->
<div id="bhavana_register"></div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalButtonsRegister" id="launchRegisterButtons" style="display: none; visibility: hidden;">
	Registrarse en el curso
</button>

<!-- Modal -->
<div class="modal fade" id="modalButtonsRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title" id="exampleModalLabel">Regístrese en el curso de meditación</h2>
				<p>Reciba información cada semana con nuevas meditaciones, temas de estudio y otros recursos importantes para tener el mejor provecho de este curso.</p>
				<a href="?x=bhavana/registerCourse" type="button" class="btn btn-block btn-info">Regístrese aquí <i class="fa fa-check-square-o" aria-hidden="true"></i></a>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="modalBodyButtons"> </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-light" data-dismiss="modal">Recordarme después</button>
				<button type="button" class="btn btn-info" data-dismiss="modal" onClick="bhavana_registerReady();">¡Listo!</button>
			</div>
		</div>
	</div>
</div>

<script>
Cala.runOnReady(bhavana_notificationsDefault);
if(Cala.Keys.get("bhavana_registerDone", '0') == '0'){
	//$("#launchRegisterButtons").click();
}
</script>
