<div class="page-header">
    <h1>
        <span id="sessionTitle">
            Esta sesión
        </span>
        <span class="label label-default" id="sessionNumber">#</span>
    </h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <div class="well emptyWell">
                <div class="row">
                    <div class="col-md-6">
                        <h3 id="sessionDesc">Vamos a meditar...</h3>
                        <div align="center">
                            <div class="btn-group" role="group" id="bhavana_selectMeditationIntention">
                                <button type="button" class="btn btn-info btn-lg dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    Hoy voy a meditar por...
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="list-group-item"><a href="" onClick="return Bhavana_Session.startMeditation('non');">Solo quiero meditar</a></li>
                                    <li class="list-group-item"><a href="" onClick="return Bhavana_Session.startMeditation('paz');">La Paz</a></li>
                                    <li class="list-group-item"><a href="" onClick="return Bhavana_Session.startMeditation('com');">Compasión</a></li>
                                    <li class="list-group-item"><a href="" onClick="return Bhavana_Session.startMeditation('hum');">Humildad</a></li>
                                </ul>
                            </div>
                            <div id="bhavana_meditationInstructions">
                                <div class="alert alert-info" role="alert">
                                    <h1>
                                        Inicie el video, cierre los ojos y comience su meditación....
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div align="center" id="bhavana_waitingForVideo">
                            <img src="img/loader_balls.gif"> Cargando meditación...
                        </div>

                        <div align="center"	class="embed-responsive embed-responsive-16by9">
                            <div align="center"	id="sessionsPlayer"></div>
                        </div>
                    </div>
                </div>
            </div>
            <nav>
                <ul class="pager">
                    <li class="previous">
                    <a href="?x=sessions" id="goBack">Anterior</a>
                    </li>
                    <li class="next">
                    <a href="?x=sessions" id="goNext">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-4 col-sm-4">
            <h3>Samatha</h3>
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="?x=bhavana/sessions&sessionId=1&cat=samatha" class="btn btn-default" type="button">1</a>
                    <a href="?x=bhavana/sessions&sessionId=2&cat=samatha" class="btn btn-default" type="button">2</a>
                    <a href="?x=bhavana/sessions&sessionId=3&cat=samatha" class="btn btn-default" type="button">3</a>
                    <a href="?x=bhavana/sessions&sessionId=4&cat=samatha" class="btn btn-default" type="button">4</a>
                    <a href="?x=bhavana/sessions&sessionId=5&cat=samatha" class="btn btn-default" type="button">5</a>
                    <a href="?x=bhavana/sessions&sessionId=6&cat=samatha" class="btn btn-default" type="button">6</a>
                    <a href="?x=bhavana/sessions&sessionId=7&cat=samatha" class="btn btn-default" type="button">7</a>
                    <a href="?x=bhavana/sessions&sessionId=8&cat=samatha" class="btn btn-default" type="button">8</a>
                    <a href="?x=bhavana/sessions&sessionId=9&cat=samatha" class="btn btn-default" type="button">9</a>
                    <a href="?x=bhavana/sessions&sessionId=10&cat=samatha" class="btn btn-default" type="button">10</a>
                </div>
            </div>
            <h3>Vipassana</h3>
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-default" type="button">1</a>
                    <a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-default" type="button">2</a>
                    <a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-default" type="button">3</a>
                    <a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-default" type="button">4</a>
                    <a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-default" type="button">5</a>
                    <a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-default" type="button">6</a>
                    <a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-default" type="button">7</a>
                    <a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-default" type="button">8</a>
                    <a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-default" type="button">9</a>
                    <a href="?x=bhavana/sessions&sessionId=1&cat=vipassana" class="btn btn-default" type="button">10</a>
                </div>
            </div>
            <h3>Vida Diaria</h3>
            <div class="btn-toolbar" role="toolbar" aria-label="...">
                <div class="btn-group" role="group" aria-label="...">
                    <a href="?x=bhavana/sessions&sessionId=1&cat=life" class="btn btn-default" type="button">1</a>
                    <a href="?x=bhavana/sessions&sessionId=2&cat=life" class="btn btn-default" type="button">2</a>
                    <a href="?x=bhavana/sessions&sessionId=3&cat=life" class="btn btn-default" type="button">3</a>
                    <a href="?x=bhavana/sessions&sessionId=4&cat=life" class="btn btn-default" type="button">4</a>
                    <a href="?x=bhavana/sessions&sessionId=5&cat=life" class="btn btn-default" type="button">5</a>
                    <a href="?x=bhavana/sessions&sessionId=6&cat=life" class="btn btn-default" type="button">6</a>
                    <a href="?x=bhavana/sessions&sessionId=7&cat=life" class="btn btn-default" type="button">7</a>
                    <a href="?x=bhavana/sessions&sessionId=8&cat=life" class="btn btn-default" type="button">8</a>
                    <a href="?x=bhavana/sessions&sessionId=9&cat=life" class="btn btn-default" type="button">9</a>
                    <a href="?x=bhavana/sessions&sessionId=10&cat=life" class="btn btn-default" type="button">10</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="modules/bhavana/js/sessions.js"></script>
<script src="modules/bhavana/js/bhavana.js"></script>
<div id="bhavana_register"></div>
