<div class="container">
    <div class="row">
        <div class="col-md-5" align="center">
            <img src="modules/bhavana/img/imgLove.jpg" class="img-fluid img-rounded">
        </div>
        <div class="col-md-5">
            <div align="center">
                <div class="well">
                    <h1>Comparta, ayúdenos y ayude a otros :)</h1>

                    <div>
                        Cuéntele a sus amigos acerca de su Retiro de Meditación Personal.
                    </div>
                    <br />
                    <br />
                    <a href="http://facebook.com/lasanghacr" target="_blank" role="button" class="btn btn-lg btn-info"
                        onClick="return Cala_externalLink('facebook');" id="facebook">
                        Facebook
                    </a>
                    <a href="http://youtube.com/c/lasangha" target="_blank" role="button" class="btn btn-lg btn-info"
                        onClick="return Cala_externalLink('youtube');" id="youtube">
                        Youtube
                    </a>
                    <a href="http://lasangha.tumblr.com?ref=app_share" target="_blank" role="button" class="btn btn-lg btn-info"
                        onClick="return Cala_externalLink('blog');" id="blog">
                        Tumblr
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

