<div class="container">
    <div class="row">
        <div class="col-md-5" align="center">
            <img src="modules/bhavana/img/imgSupport.jpg" class="img-fluid img-rounded">
        </div>
        <div class="col-md-7">

            <div class="well">
                <div align="center">
                    <h1>Ayuda y soporte</h1>
                </div>

                <strong>Correo electrónico:</strong> <a href="mailto:info@lasangha.org">info@lasangha.org</a>
                <br />
                <strong>Skype:</strong> lasanghacr
                <br />
                <strong>Sesiones virtuales:</strong> Cada semana nos reunimos de forma virtual para chatear, puede ver los horarios <a href="http://lasangha.org/es/info/gu%C3%ADa-y-apoyo?ref=app_support">Aquí</a>
                <br />
            </div>
        </div>
    </div>
</div>
<script>
	bhavana_notificationsHide('bhavana_notifications_firstRun');
</script>
