<div class="well">
    <h1>Términos y Condiciones de Uso</h1>
    <p>
    Este sitio web es un esfuerzo hecho con la intención de brindar una herramienta útil con el fin de la mejora personal y para todos los seres.
    Esperamos que el sitio web sea útil, informativo y fácil de utilizar. Si usted considera que no hemos logrado este objetivo, o que hay posibilidad de mejorarlo, le agradecemos que nos lo haga saber y haremos un esfuerzo para llevar a cabo cualquier cambio o mejora al respecto.
    </p>
    <p>
    Para poder hacer uso de este sitio web es requisito que usted lea y acepte los siguientes términos y condiciones.
    Tómese unos minutos para leerlos ya que al usar nuestro sitio, estará accediendo a ellos automáticamente.
    Si usted no los acepta, todo lo que tiene que hacer es no utilizar el sitio web.
    Estos términos y condiciones pueden ser modificados en cualquier momento si se considera necesario, por lo cual, en el caso de que usted los acepte, el acuerdo es únicamente válido por el periodo en que dure su visita actual, dicho acuerdo no tiene validez para subsecuentes visitas.
    </p>

    <div align="center">
        <b>¡GRACIAS DE NUEVO POR VISITARNOS!</b>
    </div>

    <h1>Restricciones para el uso de nuestro material en este sitio web.</h1>
    <p>
    Todo el Material del sitio 'El Sitio Web', incluyendo, sin limitación, el texto, el software, los nombres, los logotipos, las marcas registradas, las marcas del servicio, los nombres registrados, las imágenes, las fotos, las ilustraciones, las grabaciones de audio, las grabaciones de video y la música son propiedad intelectual con derechos de autor. Todos los derechos de uso pertenecen y son controlados por 'El Autor'. Usted, 'El visitante', puede descargar material en este sitio web para uso personal o no comercial, solamente siempre que usted:
    <br />
    1) retenga las notificaciones sobre derechos de autor, marcas registradas y propiedad de uso,<br />
    2) no efectúe modificaciones al material,<br />
    3) no use el material en forma que sugiera una asociación con cualquiera de sus productos, servicios, eventos o marcas y<br />
    4) no descargue material a una base de datos, servidor, o computadora personal para posteriormente usarlo con fines comerciales.<br />
    </p>
    <p>
    Sin embargo, usted no puede copiar, reproducir, publicar de nuevo, cargar, poner, transmitir o distribuir el material en línea de ninguna forma o para cualquier otro propósito a menos que obtenga primero nuestro permiso por escrito. Tampoco puede agregar, borrar, tergiversar o falsear cualquier contenido en 'El Sitio Web'. Cualquier intento de modificar algún material en línea, o de quebrantar o de eludir nuestro sistema de seguridad es prohibido.
    </p>
    <p>
    Todo lo que descargue, cualquier software, más todos los archivos, todas las imágenes contenidas o generadas por el software y toda la información que lo acompaña, se considera otorgado por El Sitio Web, La Sangha, Los Autores de los Contenidos en el Sitio o terceras personas con licencia únicamente para su uso personal, residencial sin fines de lucro. No le transferimos título del software. Eso significa que retenemos la totalidad del título del software y todos los derechos asociados de propiedad intelectual. No le está permitido distribuir o vender el material o practicar ingeniería inversa , desensamblar y de otra forma convertirlo en cualquier otra forma que las personas puedan utilizar.
    </p>

    <h1>Limitación de la Responsabilidad</h1>
    <p>
    El Sitio Web, Los Autores de los Contenidos del Sitio, La Sangha, o sus Accionistas, Empleados y Afiliados, NO SERÁN RESPONSABLE POR CUALQUIER DAÑO O LESIÓN QUE SE DE O RESULTE DEL USO DE ALGUNO DE SUS SITIOS.
    </p>
    <p>
    ESTO INCLUYE (PERO NO ESTÁ LIMITADO A) DAÑOS O LESIONES CAUSADAS POR CUALQUIER:
    <ul>
        <li>USO DE (O INHABILIDAD DE USO DE) EL SITIO WEB
        <li>USO DE (O INHABILIDAD DE USO DE) ALGÚN SITIO WEB AL QUE USTED HAGA ENLACE DESDE NUESTRO SITIO WEB
        <li>IMPOSIBILIDAD DE NUESTRO SITIO WEB DE FUNCIONAR EN LA FORMA EN QUE USTED ESPERA O DESEA
        <li>ERROR EN NUESTRO SITIO WEB
        <li>OMISIÓN EN NUESTRO SITIO WEB
        <li>INTERRUPCIÓN DE LA DISPONIBILIDAD DE NUESTRO SITIO WEB
        <li>DEFECTO EN NUESTRO SITIO WEB
        <li>RETRASO EN LA OPERACIÓN O TRANSMISIÓN DE NUESTRO SITIO WEB
        <li>VIRUS DE COMPUTADORA O INTERRUPCIÓN DE LA CONEXIÓN
        <li>POR FAVOR TENGA PRESENTE QUE NO SOMOS RESPONSABLES POR CUALQUIER DAÑO, INCLUYENDO:
        <li>DAÑOS QUE TENGAN INTENCIÓN DE COMPENSAR A ALGUIEN DIRECTAMENTE POR PÉRDIDA O LESIÓN
        <li>DAÑOS RAZONABLEMENTE ESPERADOS COMO RESULTADO DE UNA PÉRDIDA O LESIÓN (CONOCIDOS EN TÉRMINOS LEGALES COMO “DAÑOS CONSIGUIENTES”).
        <li>OTROS DAÑOS DIVERSOS Y GASTOS RESULTANTES DIRECTAMENTE DE UNA PÉRDIDA O LESIÓN (CONOCIDOS EN TÉRMINOS LEGALES COMO “DAÑOS INCIDENTALES”).
        <li>NOSOTROS NO SOMOS RESPONSABLES INCLUSO SI HEMOS SIDO NEGLIGENTES O SI NUESTRO REPRESENTANTE AUTORIZADO HA SIDO NOTIFICADO DE LA POSIBILIDAD DE TALES DAÑOS O AMBOS.
        <li>SIN EMBARGO, EN TODO CASO, NUESTRA RESPONSABILIDAD HACIA USTED POR TODAS LAS PÉRDIDAS, DAÑOS, LESIONES, Y DEMANDAS DE CUALQUIERA Y TODOS LOS TIPOS (YA SEA QUE LOS DAÑOS SEAN DEMANDADOS BAJO LOS TÉRMINOS DE UN CONTRATO, O DEMANDADOS COMO CAUSADOS POR NEGLIGENCIA U OTRA CONDUCTA INCORRECTA, O SEAN DEMANDADOS BAJO OTRA TEORÍA LEGAL) NO SERÁN MAYORES QUE LA CANTIDAD QUE USTED PAGÓ, SI HUBIERA PAGADO ALGO, PARA ACCEDER A NUESTRO SITIO WEB.
    </ul>
    <h1>Enlaces a Otro Sitio Web.</h1>
    <p>
    Algunas veces proporcionamos referencias y enlaces a otros sitios en el Internet desde nuestro sitio. Ese enlace no debe interpretarse como un aval, aprobación o visto bueno de cualquier información o recursos ofertados en los sitios que usted puede acceder a través de nuestro sitio web.
    </p>
    <p>
    Si se tiene la duda, siempre revise la dirección URL (Uniform Resource Locator) que se proporciona en su navegador para ver si usted todavía se encuentra en un sitio web operado por El Sitio Web, o se ha movido a otro sitio web.
    </p>
    <p>
    El Sitio Web, Los Autores de los Contenidos del Sitio, La Sangha o sus Accionistas, Empleados y Afiliados no son responsables por el contenido o las prácticas de sitios de terceros que puedan ser enlazadas desde nuestro sitio. Cuando El Sitio Web proporcione enlaces o referencias a otros sitios Web, no se debe hacer ninguna deducción o suposición y no se debe interpretar que El Sitio Web, Los Autores de los Contenidos del Sitio, La Sangha o sus Accionistas, Empleados y Afiliados tiene conexión con él, opera o controla estos sitios.
    </p>
    <p>
    Cualquier enlace aprobado no debe ser interpretado en ningún modo, ya sea explícitamente o por implicación, que usted tiene el apoyo, patrocinio o respaldo de cualquier sitio de El Sitio Web o apoyo, patrocinio o respaldo de El Sitio Web, Los Autores de los Contenidos del Sitio, La Sangha incluyendo sus empleados correspondientes, representantes o directores.
    </p>

    <h1>Terminación de este Acuerdo</h1>
    <p>
    Este acuerdo será efectivo hasta que sea terminado por cualquier parte. Usted puede terminar este acuerdo en cualquier momento, destruyendo todo el material obtenido desde El Sitio Web, junto con toda la documentación relacionada y todas las copias e instalaciones. El Sitio Web puede terminar este acuerdo en cualquier momento y sin notificárselo, si, bajo su única discreción, usted rompe cualquier término o condición de este acuerdo.
    </p>
    <p>
    Al término del acuerdo, usted tiene que destruir todo el material recibido. Adicionalmente, al proporcionar material en nuestro sitio web, no prometemos de ninguna forma que el material permanecerá disponible para usted. Y El Sitio Web tiene el derecho de terminar todo o cualquier parte de algunas de su sitio web sin notificárselo a usted.
    </p>
    <h1>Jurisdicción y otros puntos a considerar</h1>
    <p>
    Si usted utiliza nuestro sitio desde algún lugar fuera de Costa Rica, usted será responsable por sujetarse a cualquier ley local que aplique.
    </p>
    <p>
    Estos Términos de Uso serán regidos por, interpretados y puestos en ley en concordancia con las leyes de Costa Rica, como es aplicada en cuanto a los acuerdos registrados y para su completa ejecución dentro de esta jurisdicción.
    </p>
    <p>
    Hasta en la medida que usted de cualquier forma haya violado o amenazado con violar los derechos de propiedad intelectual de El Sitio Web, Los Autores de los Contenidos del Sitio, La Sangha incluyendo sus empleados correspondientes, representantes o directores, podrían solicitar desagravio por mandato judicial u otro desagravio apropiado en cualquier tribunal de la República de Costa Rica, y usted da su consentimiento de competencia exclusiva y de lugar para llevar un juicio en dichos tribunales de justicia.
    </p>
    <p>
    Si surge una disputa de este acuerdo, accedemos a tratar primero de resolverla con la ayuda de un mediador mutuamente aceptado en Costa Rica. Cualquier otro gasto y honorario que no sean honorarios de abogado en la mediación serán compartidos entre usted y nosotros.
    </p>
    <p>
    Si es imposible llegar a una solución mutua satisfactoria a través de la mediación, accedemos a someter la disputa a un proceso de arbitraje vinculante en el siguiente lugar: Costa rica, bajo las leyes de la American Arbitration Association. La ejecución judicial del laudo arbitral podrá ser registrado en cualquier juzgado competente.
    </p>
    <p>
    El Sitio Web, Los Autores de los Contenidos del Sitio, La Sangha incluyendo sus empleados correspondientes, representantes o directores puede modificar estos Términos de Uso, y el acuerdo se cree por ellos, en cualquier momento, simplemente actualizándolo en el sitio y sin notificárselo. Éste es el acuerdo TOTAL con respecto a todos los asuntos que se han discutido.
    </p>
</div>
