<div class="container">
    <span id="pageTitle" style="display: none;">Cronómetro</span>

    <div id="allVisibleStuff">
        <div class="row">
            <div class="col-md-4 col-sm-4" align="center">
                <div class="btn-group" role="group" id="bhavana_selectMeditationTimes">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Tiempos sugeridos
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(45);">45</a>
                        <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(30);">30</a>
                        <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(25);">25</a>
                        <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(15);">15</a>
                        <a class="list-group-item" href="" onClick="return bhavana_timerSetTime(5);">5</a>
                    </ul>
                </div>
                <br />
                <br />
                <div class="btn-group" role="group" id="bhavana_selectMeditationIntention">
                    <button type="button" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        Voy a meditar por...
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('non', 'Solo meditando');">Solo quiero meditar</a>
                        <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('paz', 'Paz');">La Paz</a>
                        <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('com', 'Compasión');">Compasión</a>
                        <a class="list-group-item" href="" onClick="return bhavana_timerSetIntention('hum', 'Humildad');">Humildad</a>
                    </ul>
                </div>
                <br />
                <div class="alert alert-warning" role="alert" onClick="return bhavana_playSound();">
					<i class="fa fa-bell" aria-hidden="true"></i>
					<strong>Haga una prueba de sonido</strong>
					<button class="btn btn-default">
					<i class="fa fa-play" aria-hidden="true"></i>
				</button>
                    <br /> <!--button type="button" class="btn btn-success">Aquí</button -->
                </div>
            </div>
            <div class="col-md-8 col-sm-8" align="center">
				<div class="alert alert-info" type="alert" id="bhavana_myIntention"><h2>Solo meditando</h2></div>
                <br />
                <!-- play/stop -->
                <div class="input-group input-group-lg">
                    <span class="input-group-addon" id="bhavana_timerMinutesIndicator">Tiempo</span>
                    <input type="numbers" id="bhavana_timerTime" class="form-control"
                    placeholder="Minutos" aria-describedby="bhavana_timerMinutesIndicator"
                    onKeyup="this.value=this.value.replace(/[^\d]/,'')"
                    onClick="bhavana_selectAll('bhavana_timerTime');"
                    required
                    >
                </div>
                <!-- //play/stop -->
                <br />
                <!-- buttons -->
				<i class="fa fa-play-circle-o fa-5x" aria-hidden="true" onClick="return bhavana_timerStartStop();"></i>
                <!--button type="button" id="bhavana_timerStartButton" class="btn btn-success btn-lg btn-block"
            <i class="fa fa-reply" aria-hidden="true"></i>
            Iniciar
        </button-->

            </div>
        </div><!-- //end rows -->
    </div> <!-- //end allVisibleStuff-->

    <!-- //buttons ?? -->

    <div id="bhavana_timerStopButton" align="center">
        <img src="modules/bhavana/img/stop-button.png" class="img-fluid"
        onClick="return bhavana_timerStartStop();">
        <br />
        <br />
        <div class="progress">
            <div id="bhavana_timerProgressBar" class="progress-bar progress-bar-info progress-bar-striped active" style="width: 0%;"
                role="progressbar"
                aria-valuenow="0"
                aria-valuemin="0"
                aria-valuemax="100">
            </div>
        </div><!-- //progress -->
    </div><!-- //stop stuff -->
</div> <!-- //Main container -->
<div id="bhavana_register"></div>
<script type="text/javascript" src="modules/bhavana/js/timer.js"></script>
