<h1>Meditación Semanal</h1>
<hr />

<div id="bhavana_weeklyPlayer" align="center">
	<div class="card">
		<div class="card-body">
			<audio controls id="bhavana_player" style="display: none; visibilty: hidden;">
				<source src="https://lasangha.org/files/bhavana/meditaciones/01_amorCompasivoRespiracion.mp3" type="audio/mp3" id="bhavana_playerSource">
				Your browser does not support the audio element.
			</audio> 
			<div>
				<h2><span id="bhavana_weeklyTitle">1</span></h2>
				<div class="alert alert-warning">Busque una posición cómoda y de inicio a la meditación.</div>
				<button onclick="document.getElementById('bhavana_player').play()" class="btn btn-primary"><i class="fa fa-play-circle" aria-hidden="true"></i></button> 
				<button onclick="document.getElementById('bhavana_player').pause()" class="btn btn-success"><i class="fa fa-pause-circle" aria-hidden="true"></i></button> 
				<button onclick="document.getElementById('bhavana_player').volume += 0.1" class="btn btn-success"><i class="fa fa-volume-up" aria-hidden="true"></i></button> 
				<button onclick="document.getElementById('bhavana_player').volume -= 0.1" class="btn btn-success"><i class="fa fa-volume-down" aria-hidden="true"></i></button> 
				<a type="button" class="btn btn-info" href="" id="bhavana_weeklyDownloadLink" download="true"><i class="fa fa-download" aria-hidden="true"></i></a> 
			</div>
		</div>
	</div>
	<hr />
</div>

<div id="bhavana_weeklyMedFrame"></div>
<div id="bhavana_weeklyList" align="center"></div>
<!--div class="container">
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315"
			class="embed-responsive-item"
			src="https://www.youtube.com/embed/videoseries?list=PLTgEM1UTivW3JI920uAnOU4uJtjkzFiip" frameborder="0" allowfullscreen></iframe>
	</div>
</div-->
<script>
Bhavana_weekMeditationGet();
bhavana_notificationsHide(bhavana_notificationsGetId('weekly'));
$('#bhavana_weeklyPlayer').hide();
</script>
