<div id="bhavana_printPath"></div>

<script>
Cala_loadFrame("bhavana_printPath", Cala.ip + 'user', "100%", "500px", "frame_loading");
//Cala_loadFrame("bhavana_printPath", 'http://localhost/b2', "100%", "500px", "frame_loading");
</script>
