<div id="bhavana_viewBook" style="background-color: white;"></div>

<script src="modules/booker/tools/booker.js"></script>

<script>
$(document).ready(function(){
		Cala.say("Booker about to start...");
		booker_init();
		});
</script>
