<div class="row">
	<div class="col-md-6">
		<a href="?x=booker/bookViewer&book=iniciarElCamino" class="thumbnail">
			<img src="modules/booker/covers/iniciarElCamino.jpg" alt="Iniciar el Camino">
			<div align="center">
				<h3>Iniciar el Camino: Ahora es el momento</h3>
				<p>Guía práctica para estudio de meditación</p>
			</div>
		</a>
	</div>
	<div class="col-md-6">
		<a href="?x=booker/bookViewer&book=budismoPregFrec" class="thumbnail">
			<img src="modules/booker/covers/portada_small.jpg" alt="Budismo: Preguntas Frecuentes">
			<div align="center">
				<h3>Budismo: Preguntas frecuentes</h3>
				<p>Una serie de preguntas frecuentes acerca del Budismo</p>
			</div>
		</a>
	</div>
</div>

<script src="modules/booker/tools/booker.js"></script>
